<p *ngIf="redirect" class="redirect-message">You have to login first to view the page.</p>
<div class="w-100"></div>
<form [formGroup]="form">
  <ng-container [ngSwitch]="error">
    <p id="badcredentialsError" *ngSwitchCase="'badcredentials'" class="error-message">Username or password is wrong.
    </p>
    <p id="unknownError" *ngSwitchCase="'unknown'" class="error-message">A unknown error occured.</p>
  </ng-container>
  <label class="input-label">Username</label>
  <input formControlName="username" type="text" class="input username-input" />
  <label class="input-label">Password</label>
  <input formControlName="password" type="password" class="input password-input" />
  <div>
    <input id="rememberMeCheckBox" type="checkbox" formControlName="rememberMe" />
    <label id="rememberMeLabel" for="rememberMeCheckBox">
      <div>
        <cru-mat-icon>check</cru-mat-icon>
      </div>Remember me.
    </label>
  </div>
  <button class="login-button" (click)="onLoginButtonClick()" [disabled]="logining">login</button>
</form>
