<form [formGroup]="form">
  <p *ngIf="message" class="message">{{ message }}</p>
  <label class="input-label">Username</label>
  <input formControlName="username" type="text" class="input username-input" />
  <label class="input-label">Password</label>
  <input formControlName="password" type="password" class="input password-input" />
  <div>
    <input id="rememberMeCheckBox" type="checkbox" formControlName="rememberMe" />
    <label id="rememberMeLabel" for="rememberMeCheckBox">Remember me.</label>
  </div>
  <button class="login-button" (click)="onLoginButtonClick()" [disabled]="logining">login</button>
</form>