<cru-loading *ngIf="!users;else realContent"></cru-loading>
<ng-template #realContent>
  <div class="action-bar">
    <span class="fill-remain"></span>
    <cru-icon-button>add</cru-icon-button>
  </div>
  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index" tabindex="0" (keydown)="itemKeyDown($event, i)">
        <td class="username" [class.admin]="user.isAdmin">{{ user.username }}</td>
        <td><cru-mat-icon class="admin-icon" *ngIf="user.isAdmin">check</cru-mat-icon></td>
        <td>
          <button class="action-button" cruButton="dangerous" (click)="changePassword(user.username)">change password</button>
          <button class="action-button" cruButton="dangerous">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
