:host {
  display: block;
  padding: 10px;
  overflow: auto;
}

.action-bar {
  display: flex;
}

.fill-remain {
  flex: 1 1 auto;
}

table {
  border-spacing: 0;
}

th {
  padding: 0;
}

tbody {
  border: 0.5px solid black;
}

tbody th {
  border: 0.5px solid black;
  font-weight: normal;
}

.username {
  color: #1e92ff;
}

.isAdmin {
  color: red;
}

cru-mat-icon {
  vertical-align: top;
}

.action-button {
  margin: 2px 5px;
}
