:host {
  display: block;
  padding: 10px;
}

.action-bar {
  display: flex;
}

.fill-remain {
  flex: 1 1 auto;
}



table {
  border-spacing: 0;
  border: 0.5px solid black;
}

th {
  border: 0.5px solid black;
  font-weight: normal;
}
