<cru-dialog-box [ngSwitch]="step">
  <p>You are changing user {{ data.username }} 's password.</p>
  <ng-template ngSwitchCase="init">
    <div>
      <div>
        <label>New password: </label>
        <input type="password" />
      </div>
      <div class="bottom">
        <button cruButton (click)="close()">cancel</button>
        <button cruButton="dangerous" (click)="doIt()">do it</button>
      </div>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="process">
    <div class="right-align-container">
      <cru-loading></cru-loading>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="done">
    <div class="right-align-container">
      <button cruButton="create" (click)="close()">done!</button>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="error">
    <p>An error occured.</p>
  </ng-template>
</cru-dialog-box>
