:host {
  display: flex;
}

.item-color-block {
  width: 12px;
  align-self: stretch;
  flex: 0 0 auto;
}

.item-body {
  display: flex;
  align-items: center;
}

.item-detail-button {
  text-decoration-line: none;
  display: flex;
  align-content: center;
}
