<cru-dialog-box>
  <ng-content select="[dialogTitle]"></ng-content>
  <ng-content select="[dialogInput]" *ngIf="step === 'input'"></ng-content>
  <div class="bottom" [ngSwitch]="step">
    <ng-template ngSwitchCase="input">
      <button cruButton (click)="close()">cancel</button>
      <button #doItButton cruButton="dangerous" (click)="doIt()">do it</button>
    </ng-template>
    <ng-template ngSwitchCase="process">
      <cru-loading></cru-loading>
    </ng-template>
    <ng-template ngSwitchCase="done">
      <button #closeButton cruButton="create" (click)="close()">done!</button>
    </ng-template>
    <ng-template ngSwitchCase="error">
      <ng-content select="[dialogError]"></ng-content>
      <button #closeButton cruButton (click)="close()">got it!</button>
    </ng-template>
  </div>
</cru-dialog-box>
