<div id="loadingIndicator" *ngIf="!isLoadCompleted">loading</div>
<div id="pageBody" *ngIf="isLoadCompleted">
  <div @rightEnter class="sample-box">
    <div class="sample-item">
      <span class="sample-color-block color-block-opened"></span>
      <span>working now</span>
    </div>
    <div class="sample-item">
      <span class="sample-color-block color-block-closed"></span>
      <span>completed</span>
    </div>
  </div>
  <app-todo-item @leftEnter [item]="item" *ngFor="let item of items"></app-todo-item>
</div>