.sample-box {
  float: right;
  background: gainsboro;
  margin: 0 0 6px 6px;
  font-size: 0.75rem;
}

.sample-item {
  display: flex;
  align-items: center;
}

.sample-color-block {
  border-radius: 0.2em;
  width: 1em;
  height: 1em;
  margin-right: 2px;
}
